@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');


body {
    text-align: center;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
}


main {
   
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
}

#logo {
    border: 2px solid red;

}

nav > div {
    display: flex;
    justify-content: space-between;
}
nav > div> ul {
    display: flex; 
    list-style: none;
    gap: 50px;
    margin-right: 50px;
    
}

button {
    height: 40px;
    border: 2px solid hsl(256, 26%, 20%);
    background-color: white;
    color: hsl(256, 26%, 20%);;
    width: 100px;
  
}

.detail {
    background-color:   hsl(256, 26%, 20%);
    height: 500px;
    text-align: left; 
}

.description {
    display: flex;
    flex-wrap: wrap;
}

.detail > {

}

h1,h2,h3 {
    font-family: DM Serif Display;
    font-weight: 400;
}

h1  {
    color: white;
}

.detail > p {
    color: white;
}

.detail > button {
    height: 40px;
    border: 2px solid white;
    background-color: hsl(256, 26%, 20%);
    color: white;
    width: 100px;
}

#different {
  color: hsl(256, 26%, 20%);
  text-align: left;
  margin-left: 20px;
}

.different {
    display: flex;
    margin: auto;
}

.findout {
    display: flex;
    background-color: hsl(256, 26%, 20%);
    height: 200px;
}

 .icons{
    display: flex;
    justify-content: space-between;
}


footer {
    
}

footerlist {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}


li {
    list-style: none;
}